/* Created by Joshua Acton, December 2022 */

html {
    height: 100%;
}

body {
    background: #002B51;
    color: #fafafa;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}

.header {
    color: #fafafa;
}

.footer {
    padding: 20px;
    font-size: 12px;
}
