/* Created by Joshua Acton, December 2022 */

html {
    height: 100%;
}

body {
    background: #20293a;
    color: #F1F2F0;
    font-family: "Computer Modern";/*Arial, Helvetica, sans-serif;"Times New Roman", Times, serif; "Courier New", Courier, Monaco;*/
    text-align: center;
}

.header {
    color: #A68E3B;
}

.footer {
    padding: 20px;
    font-size: 12px;
}
