html {
    height: 100%;
}

body {
    background: #253855ff;
    color: #fdb0b2ff;
    font-family: "Lucida Console", "Courier";/*Arial, Helvetica, sans-serif;"Times New Roman", Times, serif; "Courier New", Courier, Monaco;*/
    text-align: center;
}

.footer {
    padding: 20px;
    font-size: 12px;
}